.form {
  max-width: 400px;
  margin: 0 auto;
}

.input-wrapper {
  &--short {
    max-width: 70%;
  }
}

.lable {
  max-width: 60px;
  width: 100%;
  margin-right: 10px;
  font-weight: 700;
}

.control-wrapper {
  width: 100%;
}

.form-control {
  &::placeholder {
    color: #aaaaaa;
  }
  &--number {
    text-align: center;
  }
}

.submit {
  min-width: 100px;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}
